.image-container {
  animation: grow 2s;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.ripple {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: grey;
  transform: scale(0);
  position: absolute;  
  left: -60%;
  opacity: 1;
}

.rippleEffect {
    animation: rippleDrop 1s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
