h1 {
  padding-left: 10px;
}

.todo-view {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.add-item {
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-container {
    position: absolute;
    top: 34%;
    left: 40%;
}

.toggle-button-cancel {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
  margin: 0 10px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  height: 30px;
  font-weight: 500;
}

.toggle-button-save {
  background-color: #1E90FF;
  border: 0;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
  margin: 0 10px;
  height: 30px;
  color: white;
  font-weight: 500;
}

.actions {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row-reverse;
  margin-right: -15px;
}

.text-field {
  width: 80%;
  border: 1px solid;
  height: 30px;
  text-indent: 10px;
}

.text-area {
  margin-top: 10px;
  width: 80%;
  border: 1px solid;
  text-indent: 10px;
  overflow: auto;
}