.todo-item {
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  padding: 0 10px;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
}

.pending {
  background-color: #fee5c9;
}

.completed {
  background-color: #dceab7;
}

.completed .text {
  padding-bottom: 10px;
  color: #47813a;
  font-weight: 500;
}

.pending .text {
  padding-bottom: 10px;
  color: #ae7756;
  font-weight: 500;
}

.todo-item::after {
  background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
  background-position: left-bottom;
  background-repeat: repeat-x;
  background-size: 12px 32px;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
}
